<% provide :meta_title, t("event_calendar.index.title", scope: "decidim") %>

<%= participatory_space_wrapper do %>
  <div class="row columns">
    <div class="calendar-filters button-group">
      <% @resources.each do |resource| %>
        <span style="pointer-events: none; cursor: default;" class="button tiny cal-filter <%= resource %>" id="<%= resource %>">
          <%= I18n.t(resource, scope: "decidim.event_calendar.index.filters") %>
        </span>
      <% end %>
    </div>

    <div id="calendar"></div>
  </div>
<% end %>

<%= javascript_pack_tag "decidim_calendar" %>
<%= stylesheet_pack_tag "decidim_calendar" %>
